body {
  font-family: "Poppins", sans-serif;
  background-color: #cad4c3;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../images/monteverde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 150px 200px;
  margin-top: 30px;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
}

header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
}

header h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #ffffff;
  margin: 0;
}

header a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  margin-top: 30px;
  background-color: #ffffff;
  color: #272044;
  padding: 16px 32px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 100px 170px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer a {
  color: #ffffff;
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  opacity: 1;
  font-weight: 500;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 5px;
}

@media (max-width: 1400px) {
  header {
    padding: 67px 0;
    margin: 0 50px;
  }

  header h1 {
    font-size: 43px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 8px;
    padding: 8px 16px;
  }

  footer {
    padding: 50px 70px;
    margin: 0 50px;
  }

  footer h3 {
    font-size: 10px;
  }

  footer li,
  footer p {
    font-size: 9px;
  }
}
